{% extends 'base.html' %}
{% block title %}Wingman{% endblock %}

{% block content %}

<div style="text-align:center;">

  <div class="container max-width p-5">

      <!-- Login with Username and Password -->
      <div class="d-flex justify-content-center">
        <div class="card w-75 p-4 border border-top" style="max-width: 500px;">
          {% if not session %}  
          <div class="card-body">
            <h1 class="card-title text-center">Login</h1>
            <div class="text-center mb-4">
              <a href="#" class="btn btn-outline-secondary">Register a new account</a>
            </div>
            <form action="{{ url_for('login') }}" method="post">
              <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username" id="username" required>
                <i class="fas fa-user"></i>
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" id="password" required>
                <i class="fas fa-lock"></i>
              </div>
              <div class="msg"></div>
              <div class="navbar btn justify-content-center">
                <button type="submit" class="btn btn-primary login-btn">Login</button>
              </div>
            </form>
          </div>
          {% else %}
          <div class="card-body">
            <h1 class="card-title text-center">You are already logged in as {{session['user']}}</h1>
             <div class="text-center mb-4">
            <a href="{{url_for('logout')}}" class="btn btn-warning">log out</a>
          </div>
        </div>
        {% endif %}
      </div>
  
     

  </div>

</div>
  {% endblock content %}
  