{% extends 'base.html' %}
{% block title %} All Orders{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Orders History {% if orders %} for {{orders[0][2].first_name }} {{ orders[0][2].last_name }} {% endif %}</h1>
    
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Order Total</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order, payment, person in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ person.first_name }} {{ person.last_name }}</td>
                    <td>{{ order.date.strftime('%d/%m/%y') }}</td>
                    <td>{{ order.status }}</td>
                   
                    <td>${{ order.total }}</td>

                    <td>
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#orderDetailsModal" data-order-id="{{ order.id }}" data-order-date="{{ order.date.strftime('%d/%m/%y') }}" data-order-total="{{ order.total }}">
                            Order Details
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Order ID: <span id="modalOrderId"></span></h5>
                    <h6>Order Date: <span id="modalOrderDate"></span></h6>
                    <h6>Order Total: $<span id="modalOrderTotal"></span></h6>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price * quantity</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody id="orderLinesBody">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- Use full version -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  
    $('#orderDetailsModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var orderId = button.data('order-id');
        var orderDate = button.data('order-date');
        var orderTotal = button.data('order-total');

      
        var modal = $(this);
        modal.find('#modalOrderId').text(orderId);
        modal.find('#modalOrderDate').text(orderDate);
        modal.find('#modalOrderTotal').text(orderTotal);

      
        $.ajax({
            url: '/order/' + orderId,
            method: 'GET',
            success: function(data) {
              
                modal.find('#orderLinesBody').empty();
                console.log(data);
              
                data.order_lines.forEach(function(orderLine) {
                    modal.find('#orderLinesBody').append(`
                        <tr>
                            <td>${orderLine.name}</td>
                            <td>${orderLine.price} * ${orderLine.quantity}</td>
                            <td>${orderLine.total}</td>
                        </tr>
                    `);
                });
            },
            error: function() {
                alert('Error retrieving order lines.');
            }
        });
    });
</script>

{% endblock content %}
