{% extends 'base.html' %}
{% block title %}Products{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4">Our Veggies</h1>
    
    <!-- Weighted Veggies Section -->
    <h3 class="mt-5">Veggies by Weight</h3>
    <div class="row">
        {% for veggie in products.weighted_veggies %}
            <div class="col-md-3">
              <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <h5 class="card-title">{{ veggie.name }}</h5>
                      <p>Price: ${{ veggie.price_per_kilo }}/kg</p>
                      <form action="{{ url_for('add_to_cart') }}" method="post" class="d-flex align-items-center">
                          <input type="hidden" name="veggie_id" value="{{ veggie.id }}">
                          <label for="quantity" class="me-2 mb-0" style="font-size: 0.9em;">Select Amount:</label>
                          <input type="number" name="quantity" class="form-control form-control-sm me-2" min="1" max="100" required style="width: 50px;">
                          <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                      </form>
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>

    <!-- Pack Veggies Section -->
    <h3 class="mt-5">Veggies by Pack</h3>
    <div class="row">
        {% for veggie in products.pack_veggies %}
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                  <h5 class="card-title">{{ veggie.name }}</h5>
                  <p>Price: ${{ veggie.price_per_pack }}/Pack</p>
                  <form action="{{ url_for('add_to_cart') }}" method="post" class="d-flex align-items-center">
                      <input type="hidden" name="veggie_id" value="{{ veggie.id }}">
                      <label for="quantity" class="me-2 mb-0" style="font-size: 0.9em;">Select Amount:</label>
                      <input type="number" name="quantity" class="form-control form-control-sm me-2" min="1" max="100" required style="width: 50px;">
                      <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                  </form>
              </div>
          </div>
      </div>
        {% endfor %}
    </div>

    <!-- Unit Price Veggies Section -->
    <h3 class="mt-5">Veggies by Unit Price</h3>
    <div class="row">
        {% for veggie in products.unit_price_veggies %}
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                  <h5 class="card-title">{{ veggie.name }}</h5>
                  <p>Price: ${{ veggie.price_per_unit }}/Each</p>
                  <form action="{{ url_for('add_to_cart') }}" method="post" class="d-flex align-items-center">
                      <input type="hidden" name="veggie_id" value="{{ veggie.id }}">
                      <label for="quantity" class="me-2 mb-0" style="font-size: 0.9em;">Select Amount:</label>
                      <input type="number" name="quantity" class="form-control form-control-sm me-2" min="1" max="100" required style="width: 50px;">
                      <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                  </form>
              </div>
          </div>
      </div>
        {% endfor %}
    </div>

    <!-- Bunch Veggies Section -->
    <h3 class="mt-5">Veggies by Bunch</h3>
    <div class="row">
        {% for veggie in products.bunch_veggies %}
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                  <h5 class="card-title">{{ veggie.name }}</h5>
                  <p>Price: ${{ veggie.price_per_bunch }}/Bunch</p>
                  <form action="{{ url_for('add_to_cart') }}" method="post" class="d-flex align-items-center">
                      <input type="hidden" name="veggie_id" value="{{ veggie.id }}">
                      <label for="quantity" class="me-2 mb-0" style="font-size: 0.9em;">Select Amount:</label>
                      <input type="number" name="quantity" class="form-control form-control-sm me-2" min="1" max="100" required style="width: 50px;">
                      <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                  </form>
              </div>
          </div>
      </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
